<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
</head>
<body>
    <div class="background">
        <header>
        {% for hl in header_left %}
        <div class="header_title_left">
            <a href="{{hl.url}}">{{hl.title}}</a>
        </div>
        {% endfor %}
        {% for hr in header_right %}
        <div class="header_title_right">
            <a href="{{hr.url}}">{{hr.title}}</a>
        </div>
        {% endfor %}
    </header>


    <form action="/login" method="post" class="container_login">
        <h2>Авторизация</h2>
        <div class="login_form">
            <p>Email:</p>
            <input type="text" name="email" required class="login_input">
            <p>Пароль:</p>
            <input type="password" name="password" required class="login_input">
        </div>
        <br>
        {% for msg in get_flashed_messages() %}
        <div class="flash">{{msg}}</div>
        {% endfor %}
        <br>
        <button type="submit" class="login_button">Войти</button> <br><br>
        <a href="/register">Регистрация</a></div>
    </form>

    </div>
</body>
</html>